<!DOCTYPE html>
<html lang="ja" class>
    <head>
        <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" media="all">
        <title>Document</title>
    </head>

    <body>
        <center>
        <label for="time">制限時間</label><br>
        <input type="text" id="time" name="time" required minlength="1" maxlength="7" size="10">
        <br>
        <label for="room">オプション</label><br>
        <input type="text" id="room" name="room" required minlength="4" maxlength="8" size="10">
        

        </center>
        
    </body>