<!-- <!DOCTYPE html>
<html lang="ja" class>
    <head>
        <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" media="all">
        <title>teacher</title>
    </head> -->
    {% extends "layout.html" %}

    {% block content %}
    <body><center>
        <div class="box_css">
            <p>Quiz Room(Teacher: {{ user.name }} )</p>
        </div>
        <form action="/Makeroom" method="POST">
            <label for="room">Room:</label>
            <input type="text" name="room" required minlength="1" maxlength="100" size="10">
            <br>
            <label for="quiz">QuizID:</label>
            <input type="text" name="quiz" required minlength="1" maxlength="100" size="10">
            <br>
            
            <bottun href="{{ url_for('teacher') }}" class="btn btn--black">部屋作成</a>
        </form>

        
        
        

        </center>
    </body>

    {% endblock %}