<!-- <!DOCTYPE html>
<html lang="ja" class>
    <head>
        <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" media="all">
        <title>MakeQuiz</title>
    </head> -->
    {% extends "layout.html" %}

    {% block content %}
    <body>
        <center>
        <div class="box_css">
            <p>Make Quiz</p>
        </div>
        </center>
        <form method="POST" enctype = multipart/form-data>
        <div class="base">
            <div class="class1">
                <!-- <iframe src="left.html" width="100%" height="100%"></iframe> -->
                <center>
                    <label for="room">問題ID</label><br>
                    <input type="text" name="questionid" maxlength="2" size="2">
                </center>
            </div>
            <div class="class2">
                <!-- <iframe src="right.html" width="100%" height="100%"></iframe> -->
                <div class="quiz">
                    <p>第N問</p>
                    <input type="file" name="link"><br>
                    <label for="question">問題文:</label><br>
                    <textarea id="question" name="sentence" rows="5" cols="33">問題文を入力してね٩(ˊᗜˋ*)و</textarea>
                    <div class="choicebox">
                        <div class="choice">
                            <div class="contentR">
                                <input type="text" name="Choice1" required minlength="1" maxlength="8" size="8">
                            </div>
                        </div>
                        <div class="choice">
                            <div class="contentB">
                                <input type="text" name="Choice2" required minlength="1" maxlength="8" size="8">
                            </div>
                        </div>
                        <div class="choice">
                            <div class="contentY">
                                <input type="text" name="Choice3" required minlength="1" maxlength="8" size="8">
                            </div>
                        </div>
                        <div class="choice">
                            <div class="contentG">
                                <input type="text" name="Choice4" required minlength="1" maxlength="8" size="8">
                            </div>
                        </div>
                    </div>
                    <label for="password">解答</label>
                    <br>
                    <input type="radio" name="answer" value="1" checked>赤
                    <input type="radio" name="answer" value="2">青
                    <input type="radio" name="answer" value="3">黄
                    <input type="radio" name="answer" value="4">緑
            
                    <!-- <button type=submit onclick="location.href='/makequiz'" class="btn btn--black">次の問題へ</button> -->
                    <button type=submit class="btn btn--black">終了</button>
                </div>
                </div>
            </div>
        </form>
    </body>

    </html>
    {% endblock %}