<!-- <!DOCTYPE html>
<html lang="ja" class>
    <head>
        <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" media="all">
        <title>MakeQuiz</title>
    </head> -->
    {% extends "layout.html" %}

    {% block content %}
    <body>
        <center>
        <div class="box_css">
            <p>Make Quiz</p>
        </div>
        </center>
        <div class="base">
            <div class="class1">
                <!-- <iframe src="left.html" width="100%" height="100%"></iframe> -->
                <center>
                    <label for="time">制限時間</label><br>
                    <input type="text" id="time" name="time" required minlength="1" maxlength="7" size="10">
                    <br>
                    <label for="room">オプション</label><br>
                    <input type="text" id="room" name="room" required minlength="4" maxlength="8" size="10">
                    
            
                </center>
            </div>
            <div class="class2">
                <!-- <iframe src="right.html" width="100%" height="100%"></iframe> -->
                <div class="quiz">
                    <p>第{{my_dict.idquestion}}問</p>
                    <input type="file" name="test"><br>
                    <label for="question">問題文:</label><br>
                    <textarea id="question" name="question" rows="5" cols="33">問題文を入力してね٩(ˊᗜˋ*)و</textarea>
                    <div class="choicebox">
                        <div class="choice">
                            <div class="contentR">
                                <input type="text" id="studentname" name="studentname" required minlength="1" maxlength="8" size="10">
                            </div>
                        </div>
                        <div class="choice">
                            <div class="contentB">
                                <input type="text" id="studentname" name="studentname" required minlength="1" maxlength="8" size="10">
                            </div>
                        </div>
                        <div class="choice">
                            <div class="contentY">
                                <input type="text" id="studentname" name="studentname" required minlength="1" maxlength="8" size="10">
                            </div>
                        </div>
                        <div class="choice">
                            <div class="contentG">
                                <input type="text" id="studentname" name="studentname" required minlength="1" maxlength="8" size="10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="btn btn--black">次の問題へ</a>
        <a href="" class="btn btn--black">終了</a>
    </body>

    </html>
    {% endblock %}