{% extends "layout.html" %}

{% block content %}

<body>
    <center>
        <div class="box_css">
            <p>QuizRoom</p>
        </div>
    </center>
    <div class="base">
        <div class="class1">
            <center>
                <script>
                    var randomColor = "#" + Math.floor(Math.random() * 16777215).toString(16);
                </script>
                <userfont color=randomColor>
                    クイズID：{{ quiz_data.id }}
                </userfont>
                <userfont color=randomColor>
                    プレイヤー名：{{ user.name }}
                </userfont>
            </center>
        </div>
        <div class="class2">
            <!-- ここに問題文入れればいいんだけどどうすれば。。。 -->
            <div id="str" title="{{ quiz_data.sentence }}"></div>
            <div class="quiz">
                <p>第N問</p>
                <img src="{{ quiz_data.link }}"  width="450"
                    height="300"></img>
                <br>
                <label for="question">問題文:</label>
                <br>
                <canvas id="canvas"></canvas>
                <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
                <br>
                <div class="choicebox">
                    <div class="choice">
                        <!-- <div class="contentR">
                        <input type="text" id="studentname" name="studentname" required minlength="1" maxlength="8" size="10">
                    </div> -->
                        <button href="" class="contentR">{{ quiz_data.choice1 }}</a>
                    </div>
                    <div class="choice">
                        <button href="" class="contentB">{{ quiz_data.choice2 }}</a>
                    </div>
                    <div class="choice">
                        <button href="" class="contentY">{{ quiz_data.choice3 }}</a>
                    </div>
                    <div class="choice">
                        <button href="" class="contentG">{{ quiz_data.choice4 }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <a href="" class="btn btn--black">次の問題へ</a>
    <a href="{{ url_for('index') }}" class="btn btn--black">終了</a>
</body>
<script>
    var randomColor = "#" + Math.floor(Math.random() * 16777215).toString(16);
</script>
{% endblock %}