<!DOCTYPE html>
<html lang="ja" class>
    <head>
        <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" media="all">
        <title>Document</title>
    </head>

    <body>
        <div class="quiz">
            <p>第{{my_dict.idquestion}}問</p>
            <input type="file" name="test"><br>
            <label for="question">問題文:</label><br>
            <textarea id="question" name="question" rows="5" cols="33">問題文を入力してね٩(ˊᗜˋ*)و</textarea>
            <div class="choicebox">
                <div class="choice">
                    <div class="contentR">
                        <input type="text" id="studentname" name="studentname" required minlength="1" maxlength="8" size="10">
                    </div>
                </div>
                <div class="choice">
                    <div class="contentB">
                        <input type="text" id="studentname" name="studentname" required minlength="1" maxlength="8" size="10">
                    </div>
                </div>
                <div class="choice">
                    <div class="contentY">
                        <input type="text" id="studentname" name="studentname" required minlength="1" maxlength="8" size="10">
                    </div>
                </div>
                <div class="choice">
                    <div class="contentG">
                        <input type="text" id="studentname" name="studentname" required minlength="1" maxlength="8" size="10">
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="btn btn--black">次の問題へ</a>
        <a href="" class="btn btn--black">終了</a>
        
    </body>