<!DOCTYPE html>
<html lang="ja" class>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css" media="all">
        <div id="str" title="「吾輩は猫である。名前はまだ無い。」の書き出しが有名な「吾輩は猫である」の著者の名前は？"></div>
        <title>Document</title>
    </head>

    <body>
        <div class="quiz">
            <p>第N問</p>
            <img src="natume.jpg" alt="文豪の写真" title="猫にゃーん" width="450" height="300"></ima>
            <br> 


            <label for="question">問題文:</label>
            <br>
            <canvas id="canvas"></canvas>
            <script type="text/javascript" src="js/main.js"></script>
            <br>

            <div class="choicebox">
                <div class="choice">
                    <!-- <div class="contentR">
                        <input type="text" id="studentname" name="studentname" required minlength="1" maxlength="8" size="10">
                    </div> -->
                    <a href="" class="contentR">川端康成</a>
                </div>
                <div class="choice">
                    <a href="" class="contentB">夏目漱石</a>
                </div>
                <div class="choice">
                    <a href="" class="contentY">芥川龍之介</a>
                </div>
                <div class="choice">
                    <a href="" class="contentG">梶井基次郎</a>
                </div>
            </div>
        </div>
        <a href="" class="btn btn--black">次の問題へ</a>
        <a href="" class="btn btn--black">終了</a>
        
    </body>