{% extends "layout.html" %}

{% block content %}
<body>
    <center>
        <div class="box_css">
            <p>Quiz Room(Student)</p>
        </div>
        <p>
            ユーザー名:{{ user.name }}
        </p>
        <form action="/Quizroom" method="POST">
            <label for="room">Question:</label>
            <input type="text" id="room" name="room" minlength="1" maxlength="100" size="10">
            <br>
            <br>
            <button type="submit" class="btn">入室</button>
        </form> 
    </center>
</body>
{% endblock %}