<!-- <!DOCTYPE html>
<html lang="ja" class>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" media="all">
    <title>teacher</title>
</head> -->
{% extends "layout.html" %}

{% block content %}

<body>
    <center>
        <div class="box_css">
            <p>Quiz Room(Teacher:{{ user.name }})</p>
        </div>
        <p>
            ユーザー名:{{ user.name }}
        </p>
        <form action="/makequiz">

            <div class="choicebox">

                <div class="choicebox">
                    <button type="submit" class="btn btn--black">入室</button>
                </div>
                <div class="choicebox">
                    <button type=submit class="btn btn--black">問題作成</button>
                </div>
                <br>
                <div>
        </form>



    </center>
</body>
{% endblock %}