<!DOCTYPE html>
<html lang="ja" class>
    <head>
        <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" media="all">
        <title>teacher</title>
    </head>
    {% extends "layout.html" %}

    {% block content %}
    <body><center>
        <div class="box_css">
            <p>Quiz Room(Teacher:data)</p>
        </div>
        
        <a href="{{ url_for('makeroom') }}" class="btn btn--black">部屋作成</a>
        <a href="{{ url_for('makequiz') }}" class="btn btn--black">問題作成</a>

        </center>
    </body>
    {% endblock %}