<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>text</title>
	<link rel="stylesheet" href="css/test.css" media="all">
	<!-- <script type="text/javascript" src="js/test.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<script type="text/javascript" src="js/test.js"></script>
	<div class="button">クリック！</div>
	<div class="box">
		メニュー表示部です。
	</div>

	<div class="wrap-tab">
		<div class="tab">
			果物
		</div>
		<div class="tab">
			野菜
		</div>
		<div class="tab">
			魚
		</div>
	</div>
	<div class="box active">
		リンゴ・モモ・パイナップル
	</div>
	<div class="box">
		レタス・ニンジン・ホウレンソウ
	</div>
	<div class="box">
		イワシ・サンマ・カツオ
	</div>
</body>
</html>